.content-wrapper {
    position: relative;
    width: 60%;
    left: 15%;
}

.token-form .error {
    color: red;
}

#api .route {
    margin-bottom: 20px;
}

#api .route .response-example {
    margin: 15px;
}

#palette .color {
    height: 25px;
}
