<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="George Torianik <deadstonepro@gmail.com>">
        <meta name="keywords", content="API, Queue">
        <meta name="description", content="Web page of God safe the queue project">
        <title>GSTQ</title>

        <!-- ReCaptcha --> 
        <script type="text/javascript">
            const RECAPTCHA_SITE_KEY = "{{ RECAPTCHA_SITE_KEY }}";
        </script>
        <script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_SITE_KEY }}"></script>
        <script src="static/index.js"></script>
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body onload="main()">
        <div class="content-wrapper">
            <h2>God safe the queue</h2>
            <p>
                Author: George Torianik 
                <a href="mailto:deadstonepro@gmail.com">
                    deadstonepro@gmail.com
                </a>
            </p>
            <p>Git repository: <a href="https://gitlab.com/deadstonepro/gstq">https://gitlab.com/deadstonepro/gstq</a></p>
            <p>Keywords: API, QUEUE, PYTHON</p>
            <div id="about" class="section">
                <h3>About</h3>
                <p>
                    <i>God safe the queue</i> is a web-api which implements the
                    <a href="https://en.wikipedia.org/wiki/Queue_(abstract_data_type)">Queue</a> 
                    data structure. It can be used to store any kind of data
                    for the short term so you don't need to reimplement it. 
                </p>

                <p>
                    Awarenesses!
                    This API is insecure yet so you shouldn't use it for the 
                    serious production code. 
                </p>
            </div>
            <div id="token" class="section">
                <h3>Token</h3>
                <p>
                    You can think of token as of the unique identifier of 
                    your queus. In the future changes we migh add requests
                    limit to a single token.
                </p>
                <p>
                    To generate the token you should use the form below.
                </p>
                <div class="token-form">
                    <input id="token-input" type="text" 
                        value="Here will be your token" disabled> 
                    <button id="token-button">Generate</button> 
                    <div id="token-error" class="error" 
                        style="display: None">I am an error.</div>
                </div>
            </div>
            <div id="api" class="section">
                <h3>API cheatsheet</h3>
                <p>
                Every route requires cookie <code>Token: YOUR_TOKEN</code>
                to be set.
                </p>
                <div class="route">
                    <span class="method">POST</span>
                    <a href="#">http://{{ SERVER_NAME }}/api/push</a>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>400 BAD REQUEST</code>
                        </div>
                        <code>{
                            "success": false,
                            "message": "Couldn't extract the data from the request. Try to add a header with mime-type." }</code>
                    </div>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>400 BAD REQUEST</code>
                        </div>
                        <code>{
                            "success": false,
                            "message": "You must provide a token in order to modify the queue." }</code>
                    </div>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>400 BAD REQUEST</code>
                        </div>
                        <code>{
                            "success": false,
                            "message": "Wrong token." } </code>
                    </div>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>200 OK</code>
                        </div>
                        <code>{
                            "success": true }</code>
                    </div>
                </div>
                <div class="route">
                    <span class="method">POST</span>
                    <a href="#">http://{{ SERVER_NAME }}/api/pop</a>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>400 BAD REQUEST</code>
                        </div>
                        <code>{
                            "success": false,
                            "message": "You must provide a token in order to modify the queue." }</code>
                    </div>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>400 BAD REQUEST</code>
                        </div>
                        <code>{
                            "success": false,
                            "message": "Wrong token." } </code>
                    </div>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>400 BAD REQUEST</code>
                        </div>
                        <code>{
                            "success": false,
                            "message": "Queue is empty." } </code>
                    </div>
                    <div class="response-example">
                        <div class="response-status">
                            Status: <code>200 OK</code>
                        </div>
                        <code>{
                            "success": true, 
                            "data": "utf-8 string you pushed there." }</code>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
